<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/TranPlaneBlack.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/signup.css') }}">
</head>
<body>
	<header>
        <div class="logo">
            <a href="/" class="plane"></a>
            <h1>TripMate</h1>
        </div>
	</header>
    <script type="text/javascript">
        function toggle() {
            var int = document.getElementById('int');
            int.classList.toggle('active');
        }
    </script>
	<main>
        <section class="hero">
            <div class="signup-box">
                {% with messages = get_flashed_messages(with_categories=true) %} 
                {% if messages %} 
                {% for category, message in messages %} 
                    {% if category =='signup-error' %}
                        <div class="alert error">
                            <input type="checkbox" id="alert1"/>
                            <label class="close" title="close" for="alert1">
                                <i class="fa fa-remove"></i>
                            </label>
                            <p class="inner">
                                <strong>{{message}}</strong> 
                            </p>
                        </div>
                    {% elif category =='signup-success'%}
                        <div class="alert success">
                            <input type="checkbox" id="alert1"/>
                            <label class="close" title="close" for="alert1">
                                <i class="fa fa-remove"></i>
                            </label>
                            <p class="inner">
                                <strong>{{message}}</strong> 
                            </p>
                        </div>
                    {% endif %} 
                {% endfor %} 
                {% endif %} 
                {% endwith %}
                <h2>Sign Up </h2>
                
                  <form method="POST">  <div class="input-container name">
                        <div class="inline">
                            <label for="firstName">First Name:</label>
                            <input type="text" id="firstName" name="firstName" required>
                        </div>
                        <div class="inline">
                            <label for="lastName">Last Name:</label>
                            <input type="text" id="lastName" name="lastName" required>
                        </div>
                    </div>
                    <div class="input-container">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="inputEmail4" name="email" required>
                    </div>
                    <div class="input-container">
                        <label for="inputPassword4" class="form-label">Password:</label>
                        <input type="password" class="form-control" id="inputPassword4" name="password1" required>
                    </div>
                    <div class="input-container">
                        <label for="inputPassword4" class="form-label">Confirm Password:</label>
                        <input type="password" class="form-control" id="inputPassword4" name="password2" required>
                    </div>
                    <button class="btn-primary">Sign Up</button>
                </form>
                <div class="links">
                    <p>Already have an account? <a href="/login/">Log in here.</a></p>
                </div>
            </div>
        </section>
	</main>
	<footer>
        <p style="font-size: 18px;">&copy; 2023 TripMate | Contact us at TripMate@gmail.com</p>
        <div class="social">
            <a href="https://www.facebook.com/alex.eugene.hunt" target="_blank" id="FB"></a>
            <a href="https://twitter.com/AlexEugeneHunt" target="_blank" id="TW"></a>
            <a href="https://www.linkedin.com/in/alex-hunt-4782a4179/" target="_blank" id="LN"></a>
            <div id="toggle" onclick="toggle()"></div>
        </div>
	</footer>
</body>
</html>