{% extends "base.html" %}
{% block title %} {{to_do_list.title}} {% endblock %}
{% block container %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.min.css" integrity="sha512-YdYyWQf8AS4WSB0WWdc3FbQ3Ypdm0QCWD2k4hgfqbQbRCJBEgX0iAegkl2S1Evma5ImaVXLBeUkIlP6hQ1eYKQ==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>
	h1{
		padding: 20px 60px;
	}
	.container {
		padding: 20px 60px;
		min-width: 400px;
	}
	to-do-table {
		min-width: 500px;
	}

	tr{
		border: #3BA2A8;
	}
	tr:hover{
		background-color:#eaf3f4
	}
	td {
		height: 60px;
	}
	.css-button-gradient--2 {
		max-width: 170px;
		height: 50px;
		width: 100px;
		color: #fff;
		font-weight: bold;
		font-size: 30px;
		cursor: pointer;
		transition: all 0.3s ease;
		position: relative;
		display: inline-block;
		outline: none;
		border-radius: 5px;
		border: none;
		background-size: 120% auto;
		background-color: #3BA2A8;
	}
	.css-button-gradient--2:hover {
		background-position: right center;
	}
	.css-button-gradient--2:active {
		top: 2px;
	}
	i {
		color: #3BA2A8;
		font-size: 25px;
	}
	#text{
		height: 50px !important;
		border: solid 2px #3BA2A8;
		border-radius: 5px;
		background-color: #f2f2f2;
	}

	#text: after{
		border: solid 2px #3BA2A8;
		border-radius: 5px;
		background-color: #f2f2f2;
	}

	.form-check-input{
		background-color:#f2f2f2;
		border: solid #3BA2A8;
		padding:0;
		height:20px;
		width: 20px;
	}
	.form-check-input:checked {
		background-color: #3BA2A8;
		border-color: #3BA2A8;
	}

	
	.done {
		color: gray;
		text-decoration: black line-through;
	}
	
	#date-btn {
		font-size:36px;
		color:  #3BA2A8;
	}

	#datepicker {
		height: 50px;
		width: 150px;
		border: solid 2px #3BA2A8;
		border-radius: 5px;
		background-color: #f2f2f2;
		font-size: 20px;
		font-color: #3BA2A8;
		padding: 5px
	}
	
</style>
	
<h1 class="mx-5 my-2"><b>{{to_do_list.title}}</b></h1>
<form method="POST">
	<div class="row row-cols-2 mx-5 my-3 justify-content-center" id="list-name-input-container" >
		<div class="col-6" style="padding-left: 0" >
			<input type="text" id="text" class="form-control" name="text" placeholder="Enter a new task" required>
		</div>   
		<div class="col-1">     
			<input type="date" id="datepicker" name="datepicker" placeholder="Due date" class="p-0">         
		</div> 
		<div class="col-1" style="margin-left:60px">
			<button type="submmit" id="add-list-btn" class="css-button-gradient--2 fas fa-plus"></button>                      
		</div>
	</div>
<form>
<div class="container">
	{% if tasks|length > 0 %}
	<table id="to-do-table" class="table table-hover" style="table-layout: fixed ; width: 100%; ">
		<tr class="text-center" id="table-header">
			<th style="width: 10%; background-color:#3BA2A8; color:white;"><strong>Done</strong></th>
			<th style="width: 45%; background-color:#3BA2A8; color:white;"><strong>Task Name</strong></th>
			<th style="width: 25%; background-color:#3BA2A8; color:white;"><strong>Date</strong></th>
			<th style="width: 10%; background-color:#3BA2A8; color:white;"><strong>Remove</strong></th>
		</tr>
		{% for task in tasks %}
			{% if task.complete == False %}
			<tr id="task-{{task.id}}" class="text-center">
				<td id="complete">
					<a  href="/update/{{to_do_list.title}}/{{task.id}}/"><i class="fa fa-square-o" name="complete" id="complete" style="font-size:35px"></i></a>
				</td>
				<td id="task-name">{{task.text}}</td>
			{% else %}
			<tr id="task-{{task.id}}" class="text-center done">
				<td id="complete">
					<i class="fa fa-check-square-o" value="True" id="complete" name="complete" style="font-size:35px"></i></a>
				</td>
				<td id="task-name"><s>{{task.text}}</s></td>
			{% endif %}
            <td id="date">{{task.date}}</td>
            <td id="delete-btn"><a class="col-1" href="/delete_task/{{to_do_list.title}}/{{task.id}}/"><i class="fas fa-trash m-1"></i></a></td>
        </tr>
		{% endfor %}     
	</table>
	{% else %}
	<p class="m-3" style="font-style: italic;">No tasks found</p>
	{% endif %}
</div>
	<link href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css'
          rel='stylesheet'>
      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" >
    </script>
      
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" >
    </script>
    <script>
		$('#date-btn').click(function() {
			$("#datepicker").show()
		});
    </script>

{% endblock %}
